version: '3.7'

services:
  main:
    build:
      context: .
    network_mode: bridge
    container_name: proxy
    restart: on-failure
    ports:
    - 443:443
    - 80:80
    volumes:
    - /var/run/docker.sock:/tmp/docker.sock:ro
    - ./proxy/certs:/etc/nginx/certs
    - ./proxy/acme:/acmecerts
    - ./proxy/conf.d:/etc/nginx/conf.d
  web:
    image: httpd
    network_mode: bridge
    container_name: httpd
    restart: on-failure
    environment:
      VIRTUAL_HOST: httpd.docker
